@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Archivo Black', sans-serif;
}

@layer base {
    body {
        font-family: var(--font-sans);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-display);
    }
}

/* Custom blinking animation for the cursor */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 1s step-end infinite;
}